<h3 id="vote-target">
</h3>

<div id="vote-nav">
  <div id="like" class="button">
    I like it!
  </div>

  <div id="next" class="button">
    Next, please!
  </div>
</div>

<%= javascript_include_tag "euphemisms.js" %>
