<h3 id="current-euphemism">
  <%= @euphemism.to_s %>
</h3>

<div id="like-euphemism">
  I like it!
</div>

<div id="next-euphemism">
  Next, please!
</div>

<%= javascript_include_tag "euphemisms.js" %>
