<h1>Let's make a new euphemism!</h1>

<h3 id="current-euphemism">
  <span id="verb">______</span>
  <span id="the">the</span>
  <span id="adjective">______</span>
  <span id="noun">______</span>
</h3>

<table id="candidates">
  <tr>
    <th data-part="verb">
      Verb
    </th>
    <th data-part="adjective">
      Adjective
    </th>
    <th data-part="noun">
      Noun
    </th>
  </tr>
  <tr>
    <td>
      <ul id="verb-list">
      </ul>
    </td>
    <td>
      <ul id="adjective-list">
      </ul>
    </td>
    <td>
      <ul id="noun-list">
      </ul>
    </td>
  </tr>
</table>

<div id="creation-nav">
  <div id="refresh-words" class="button">Refresh all words</div>
  <div id="set-alliteration" class="button">Alliteration</div>
</div>
<div id="create-euphemism" class="button">Send it off!</div>


<%= javascript_include_tag "new_euphemisms.js" %>
