<h1>Let's make a new euphemism!</h1>

<h3 id="current-euphemism">
  <span id="verb"></span>
  <span id="the">the</span>
  <span id="adjective"></span>
  <span id="noun"></span>
</h3>

<table id="candidates">
  <tr>
    <th>
      Verb
    </th>
    <th>
      Adjective
    </th>
    <th>
      Noun
    </th>
  </tr>
</table>

<form id="create-euphemism">
  <input type="hidden" id="verb_id" name="verb_id">
  <input type="hidden" id="adjective_id" name="adjective_id">
  <input type="hidden" id="noun_id" name="noun_id">
  <input type="submit" value="Love it!">
</form>

<form id="get-more-choices">
  <input type="submit" value="Next">
  <input type="checkbox" id="consonance" name="consonance" value="true">
  <label for="consonance">consonance</label>
</form>

<script>
  $(function () {
    $('#candidates').on('click', 'td.noun, td.adjective, td.verb', function (e) {
      $('#current-euphemism').addClass('active');

      var $td = $(this);

      $.each(["verb", "adjective", "noun"], function (i, part) {
        if ($td.hasClass(part)) {
          $("." + part).removeClass("selected");
          $("#" + part).text( $td.text() );
          $("#" + part + "_id").val( $td.data('id') )
        };
      });

      $td.addClass("selected");

      if ( canSubmit() ) {
        $("#create-euphemism").fadeIn(5000, function () {
          $(this).addClass('active');
        })
      };
    });

    function resetPage () {
      $('#current-euphemism').removeClass('active');
      $('#verb, #adjective, #noun').text('');
      $('#verb_id, #noun_id, #adjective_id').val('');
      $('.selected').removeClass('selected');
    };

    function hideCreateForm () {
      $('#create-euphemism').removeClass('active');
    };

    function canSubmit () {
      return $('#noun_id').val() != "" && $('#verb_id').val() != "" && $('#adjective_id').val() != "";
    };

    function renderEuphemisms (euphemisms) {
      var verbs = euphemisms.verbs;
      var adjectives = euphemisms.adjectives;
      var nouns = euphemisms.nouns;
      var rowCount = Math.max(verbs.length, adjectives.length, nouns.length);

      var $table = $("#candidates");

      resetPage();
      hideCreateForm();

      $('.entry').remove();

      for (var i = 0; i < rowCount; i++) {
        var $row = $("<tr class='entry'>");

        if (verbs[i]) {
          var $verb = $("<td class='verb'>").text(verbs[i].content).data('id', verbs[i].id);
        } else {
          var $verb = $("<td>");
        };

        if (adjectives[i]) {
          var $adjective = $("<td class='adjective'>").text(adjectives[i].content).data('id', adjectives[i].id);
        } else {
          var $adjective = $("<td>");
        };

        if (nouns[i]) {
          var $noun = $("<td class='noun'>").text(nouns[i].content).data('id', nouns[i].id);
        } else {
          var $noun = $("<td>");
        };

        $row.append( $verb ).append( $adjective ).append( $noun );

        $table.append( $row );
      };
    };

    $('#create-euphemism').on('submit', function (e) {
      e.preventDefault();

      var els = this.elements;
      var obj = {
        euphemism: {
          verb_id: els.verb_id.value,
          adjective_id: els.adjective_id.value,
          noun_id: els.noun_id.value
        }
      };

      $.ajax({
        url: '<%= euphemisms_url %>',
        method: 'post',
        dataType: 'json',
        data: obj,
        success: function (data) {
          resetPage();
          hideCreateForm();
        }
      });
    });

    $("#get-more-choices").on('submit', function (e) {
      e.preventDefault();

      euphemism_type = this.elements.consonance.checked ? "consonance" : "random"

      $.ajax({
        url: "<%= random_euphemism_url %>",
        dataType: "json",
        data: {
          euphemism_type: euphemism_type
        },
        success: renderEuphemisms
      });
    });

    $.ajax({
      url: "<%= random_euphemism_url %>",
      dataType: "json",
      data: {
        euphemism_type: "random"
      },
      success: renderEuphemisms
    });
  });
</script>
