/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("http://fonts.googleapis.com/css?family=Cutive+Mono|Roboto:300,700");

$primary-bg: lighten(pink, 10%);

$primary-light: white;
$primary-medium: darken($primary-bg, 30%);
$primary-dark: black;

$font-hand: "Cutive Mono", monospace;
$font-sans: "Roboto", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  outline: none;
}

*:after, *:before {
  box-sizing: inherit;
}

body {
  width: 600px;
  margin: 0 auto;
  background: $primary-bg;
  font-family: $font-sans;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  margin: 24px 0 12px 0;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 12px 0;
  font-size: 24px;
  font-family: $font-hand;
}

ul { list-style: none; }

#candidates {
  width: 100%;
  font-family: $font-sans, sans-serif;

  th {
    width: 33.333%;
    font-size: 24px;
    font-weight: 700;
    padding: 0.25em 0;
    border-bottom: 2px solid $primary-light;
    cursor: pointer;
    &:hover {
      background: darken($primary-bg, 5%);
    }
    &:active {
      background: darken($primary-bg, 10%);
    }
  }

  li {
    height: 38px;
    font-size: 18px;
    padding: 10px;
    background: $primary-medium;
    text-align: center;
    cursor: pointer;

    &:hover { background: lighten($primary-medium, 15%); }
    &:active {
      background: $primary-dark;
      color: $primary-light;
      font-weight: 700;
    }

    &.selected {
      background: $primary-dark;
      color: $primary-light;
      font-weight: 700;

      &:hover { background: lighten($primary-dark, 15%); }
      &:active {
        background: $primary-medium;
        color: $primary-dark;
        font-weight: 700;
        cursor: pointer;
      }
    }
    + li { margin-top: 2px; }
  }
}

.button {
  font-size: 18px;
  background: $primary-medium;
  padding: 0.6em;
  text-align: center;
  cursor: pointer;

  &:hover { background: lighten($primary-medium, 15%); }
  &:active {
    background: $primary-dark;
    color: $primary-light;
    font-weight: 700;
  }

  &.selected {
    background: $primary-dark;
    color: $primary-light;
    font-weight: 700;

    &:hover { background: lighten($primary-dark, 15%); }
    &:active {
      background: $primary-medium;
      color: $primary-dark;
      font-weight: 700;
      cursor: pointer;
    }
  }
}


#creation-nav {
  margin-top: 1em;
  margin-left: 2px;
  margin-right: 2px;

  &:after {
    clear: both;
    display: block;
    content: "";
  }

  #refresh-words { float: left; }
  #set-consonance {
    float: right;
    &:after {
      content: "?";
    }
    &.selected:after {
      content: "!";
    }
  }

  .button {
    width: 40%;
  }
}

#create-euphemism {
  display: none;
  width: 75%;
  margin: 1em auto;
}
