<!DOCTYPE html>
<html>
<head>
  <title>VerbingTheAdjectiveNoun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <a href="/euphemisms/new">
      <div class="button">
        Make Euphemisms
      </div>
    </a>

    <a href="/euphemisms">
      <div class="button">
        Vote on Euphemisms
      </div>
    </a>
    <a href="/euphemisms/popular">
      <div class="button">
        Popular Euphemisms
      </div>
    </a>
  </nav>
  <%= yield %>
</body>
</html>
